# Project information
site_name: Project Overview
site_url: https://ulricusr.github.io
site_author: Ulrich R端th
site_description: >-
  Project overview site for rueth.info
edit_uri: edit/main/portfolio-page/docs

# Repository
repo_name: ulricusr/ulricusr.github.io
repo_url: https://github.com/UlricusR/ulricusr.github.io

# Configuration
extra_css:
  - assets/stylesheets/extra.css
theme:
  name: material
  custom_dir: material/.overrides
  features:
    - navigation.tabs
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font: false # To avoid utilization of Google fonts
  logo: assets/images/logo_white_small.png
  favicon: assets/images/favicon.png

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/UlricusR
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/ulrichrueth/

# Page tree
nav:
  - index.md
  - EasyFPU for iOS: https://ulricusr.github.io/iOS-EasyFPU
  - EasyFPU for Android: https://ulricusr.github.io/Android-EasyFPU
  - legal.md

# Plugins
plugins:
  - i18n:
      default_language: en
      languages:
        en:
          name: English
          site_name: Project Overview
        de:
          name: Deutsch
          site_name: Projekt端bersicht
      nav_translations:
        de:
          EasyFPU for iOS:
            translation: EasyFPE f端r iOS
            url: https://ulricusr.github.io/iOS-EasyFPU/de
          EasyFPU for Android:
            translation: EasyFPE f端r Android
            url: https://ulricusr.github.io/Android-EasyFPU/de
  - search
  - glightbox

# Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
